* {
    margin: 0;
    padding: 0;
}


body {
    margin: 10px;
    padding: 10px;
    background-color: rgb(27, 0, 36);
    background: linear-gradient(90deg, rgba(27, 0, 36, 1) 0%, rgba(175, 0, 255, 1) 84%);
    font-family: 'Shantell Sans', cursive;
}